*
{
  box-sizing: border-box;
}

body
{
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606060;
}

a:hover {
  color: #959595;
}

/* Center everything */
.content {
  width: 90%;
  margin: auto;
}

.posts {
  padding-bottom: 20px;
}

.post {
  width: 60%;
  margin: auto;
}

.post img {
  display: block;
  margin: auto;
  width: 100%;
  padding-top: 20px;
}

.post .img-caption {
  display: block;
  margin: auto;
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}

.footer {
    color: #aaa;
    font-size: 14px;
}


@media only screen and (max-width: 600px) {

  .post {
    width: 90%;
  }

}